{% extends 'base.html.twig' %}

{% block title %}Se connecter {{ parent() }}{% endblock %}

{% block main %}

        {# Début du formulaire de connexion #}
        <form id="formLogin" method="post">

            {# Si l'utilisateur est déja connecté alors une div informative est affichée #}
            {# @TODO modifier la div qui signale que l'utilisateur est déjà connecté #}
            {% if app.user %}
                <div class="mb-3">
                    <p>Vous êtes déjà connecté en tant que {{ app.user.username }}</p> <a href="{{ path('app_logout') }}">Se déconnecter</a>
                </div>
            {% endif %}

            {# Titre de la page se connecter #}
            <h2>Se connecter</h2>

            {# Block Email #}
            <div class="block-form">
                <label for="inputEmail">Email</label>
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
            </div>

            {# Block Mot de passe #}
            <div class="block-form">
                <label for="inputPassword">Mot de passe</label>
                <input type="password" name="password" id="inputPassword" class="form-control" required>
            </div>

            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}"
            >
            {# Se souvenir de moi #}
            <label>
                <input type="checkbox" name="_remember_me"> Se souvenir de moi
            </label>

            {# Si il y a une erreur sur le formulaire alors cette div est affichée #}
            {# @TODO modifier l'emplacement de la div erreur #}
            {% if error %}
                <div class="erreur-form">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {# Bouton qui sert à la connexion et redirige sur la page home #}
            <button id="bouton-login" type="submit">
                Se connecter
            </button>
        </form>
{% endblock %}
