{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block main %}

    <div id="registerForm">

        {{ form_start(registrationForm) }}
        <div id="formCreaCompte">
            {% for flashError in app.flashes('verify_email_error') %}
                <div class="alert alert-danger" role="alert">{{ flashError }}</div>
            {% endfor %}

            <h2>Créer un compte</h2>
                {{ form_row(registrationForm.email) }}
                {{ form_row(registrationForm.username, {
                    label: 'Pseudo'
                })}}
                {{ form_row(registrationForm.plainPassword, {
                    label: 'Mot de passe'
                }) }}

                <button type="submit" id="bouton-register">Créer mon compte</button>
        </div>
        {{ form_end(registrationForm) }}

    </div>
{% endblock %}
