{% extends 'base.html.twig' %}

{% block title %}Frigo {{ parent() }}{% endblock %}

{% block main %}

     {# Container global de la page #}
    <div id="container-liste">

        {# Condition si il n'y a pas d'aliments liés à un utilisateur #}
        {% if not aliments %}
            {# Alors on affiche une div informative pour dire d'ajouter un aliment #}
            <div id="pas-aliments">
                <h2>🥑 🍕 🍄 🧃 🥝 🍰</h2>
                <h2> Aucuns aliments 😁</h2>
                <p>Ajoutes des aliments avec le bouton</p>
                <h2>🧃 🥝 🍰 🥑 🍕 🍄</h2>
            </div>
        {% endif %}

        {# Boucle pour chaque aliment récupérer par utilisateur #}
        {% for aliment in aliments %}
            {# affichage de données concernant un aliment avec une action liée #}
            <article>
                {# Bloc lié à sa date de péremption au format jour/mois/année de la plus ancienne à la plus récente #}
                <div>
                    <p class="date-peremption">{{ aliment.datePeremption|date('d/m/y') }}</p>
                </div>

                {# Bloc lié au nom de l'aliment  #}
                <div>
                    {# Condition si l'aliment est périmé depuis plus de 3 jours alors il est barré #}
                    <p class="nom-aliment" {% if aliment.datePeremption < date('now -3 day') %}
                                                style="text-decoration: line-through"
                                            {% endif %}>
                        {# Affichage du nom de l'aliment #}
                        {{ aliment.nom }}
                        {# Condition si l'aliment est périmé depuis moins de 3 jours  #}
                        {% if aliment.datePeremption < date('now') and aliment.datePeremption > date('now -3 day') %}
                            {# Affichage d'un emoji flamme collé au nom de l'aliment #}
                            🔥
                        {% endif %}
                        {# Condition si l'aliment est périmé dans 2 jours ou moins  #}
                        {% if aliment.datePeremption < date('now + 2 day') and aliment.datePeremption > date('now') %}
                            {# Affichage d'un emoji sablier collé au nom de l'aliment #}
                            ⏳
                        {% endif %}
                    </p>
                </div>

                {# Bloc lié à l'action de supprimé l'aliment  #}
                <div>
                    {# Appel de la fonction supprimé aliment dans le MainController en passant son id en paramètre #}
                    <button class="bouton-suppr"><a href="{{ path('delete', {'id': aliment.id}) }}">&times;</a></button>
                </div>
            </article>
        {% endfor %}

        {# Trigger qui ouvre la modal (voir javascript ci-dessous) #}
        <div id="bloc-ajout">
            <button id="bouton-ajout"><a href="#">+</a></button>
        </div>

        {# Modal global #}
        <div id="myModal" class="modal">

            {# Contenu dans la modal #}
            <div class="modal-content">

                {# Div pour fermer la modale #}
                <div class="close"><p>&times;</p></div>

                {# Début du formualaire d'ajout d'aliment #}
                {{ form_start (alimentForm) }}
                <div id="formAjoutAliment">
                {{ form_row(alimentForm.nom) }}

                {{ form_row(alimentForm.datePeremption) }}

                {{ form_widget(alimentForm) }}

                    {# Bouton submit pour ajouter un aliment en base et revenir sur la page home #}
                    <button id="validation-ajout" type="submit">Ajouter</button>
                </div>

                {{ form_end (alimentForm) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        // Get the modal
        var modal = document.getElementById("myModal");

        // Get the button that opens the modal
        var btn = document.getElementById("bouton-ajout");

        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];

        var menuHeader = document.getElementById("menu-header");

        // When the user clicks the button, open the modal
        btn.onclick = function() {
            modal.style.display = "block";
            menuHeader.style.display = "none";
        }

        // When the user clicks on <span> (x), close the modal
        span.onclick = function() {
            modal.style.display = "none";
            menuHeader.style.display = "flex";
        }

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    </script>
{% endblock %}
